# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Remove trailing whitespace
trim_trailing_whitespace = true

# Default indentation for all files
indent_style = space
indent_size = 2